<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="EventSourceName" value="EventSource_Service1" />
    <add key="EventLogName" value="EventLog_Service1" />
    <add key="ServiceName" value="My Test Service1" />
    <add key="ServiceDisplayName" value="My Test Service1" />
    <add key="ServiceDesc" value="This is test service 1 desc" />
  </appSettings>
</configuration>